.about-image {
  width: 40%;
  height: 65%;
  border-radius: 100%;
  border: 6px solid white;
}

.about-text {
  color: #eee;
  text-align: justify;
  font-family: "Quicksand";
}

.line {
  color: #eee;
  box-shadow: 0 4px 8px 0 rgba(238, 238, 238, 0.911);
}

.text-objective {
  font-size: 18px;
  text-align: justify;
}

.text-personal {
  font-size: 22px;
  text-align: left;
}

.card-border-about {
  box-shadow: 0 4px 8px 0 rgba(238, 238, 238, 0.911);
  border: 2px solid rgba(238, 238, 238, 0.911);
  transition: 0.3s;
  border-radius: 10px;
  height: 110%;
}

.card-badge {
  cursor: pointer;
}
