.skills-container {
  background-color: white;
  box-shadow: inset 0 0 2em #222;
}

.skills-text {
  font-family: "Quicksand";
  color: #222;
}

.skills-text-title {
  font-size: 22px;
  font-style: italic;
  font-weight: 700;
}

.card-border-skills {
  box-shadow: 0 4px 8px 0 rgba(238, 238, 238, 0.911);
  border: 2px solid #222;
  transition: 0.3s;
  border-radius: 10px;
  height: 100%;
}
